<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.syski.client.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/syski_sys_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/syski_sys_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SystemListMenu"
            android:label="@string/title_activity_sys_list_menu"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.syski.client.android.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.SystemListMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SystemOverviewActivity"
            android:label="@string/sys_overview_lbl"
            android:parentActivityName=".view.SystemListMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".view.CPUActivity"
            android:label="@string/sys_cpu_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RAMActivity"
            android:label="@string/sys_ram_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SystemStorageActivity"
            android:label="@string/sys_stg_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GPUActivity"
            android:label="@string/sys_gpu_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MOBOActivity"
            android:label="@string/sys_mobo_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SystemOSActivity"
            android:label="@string/sys_os_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.graph.VariableCPULoadGraph"
            android:label="CPU Load"
            android:parentActivityName=".view.CPUActivity" />
        <activity
            android:name=".view.graph.VariableStorageTimeGraph"
            android:label="Storage Time"
            android:parentActivityName=".view.SystemStorageActivity" />
        <activity android:name=".view.graph.VariableNetworkGraph" />
        <activity
            android:name=".view.graph.VariableCPUProcessesGraph"
            android:label="CPU Processes"
            android:parentActivityName=".view.CPUActivity" />
        <activity
            android:name=".view.graph.VariableRAMGraph"
            android:label="Free RAM"
            android:parentActivityName=".view.RAMActivity" />
        <activity
            android:name=".view.graph.VariableStorageTransfersGraph"
            android:label="Storage Transfers"
            android:parentActivityName=".view.SystemStorageActivity" />
        <activity
            android:name=".view.graph.VariableStorageReadWriteGraph"
            android:label="Storage Reads and Writes"
            android:parentActivityName=".view.SystemStorageActivity" />
        <activity
            android:name=".view.graph.VariableStorageByteReadWriteGraph"
            android:label="Storage Byte Reads and Writes"
            android:parentActivityName=".view.SystemStorageActivity" />
        <activity
            android:name=".view.NFCReceiverActivity"
            android:label="@string/nfc_lbl"
            android:parentActivityName=".view.SystemListMenu">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".FCM.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_sys_144" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".view.BIOSActivity"
            android:label="BIOS"
            android:parentActivityName=".view.SystemOverviewActivity"
            />
    </application>

</manifest>