<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.syski.client.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/syski_sys_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/syski_sys_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SystemListMenu"
            android:label="@string/title_activity_sys_list_menu"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.syski.client.android.view.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.SystemListMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SystemOverviewActivity"
            android:label="@string/sys_overview_lbl"
            android:parentActivityName=".view.SystemListMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".view.CPUActivity"
            android:label="@string/sys_cpu_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RAMActivity"
            android:label="@string/sys_ram_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageActivity"
            android:label="@string/sys_stg_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GPUActivity"
            android:label="@string/sys_gpu_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MOBOActivity"
            android:label="@string/sys_mobo_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".OSActivity"
            android:label="@string/sys_os_lbl"
            android:parentActivityName=".view.SystemOverviewActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>